/* Colors */
:root {
  --main-theme-color: #2e1253;
  --title-color: #E63E62;
  --card-color: #EFF3F3;
  --text-color: #000007;
  --icon-button-color: #C23EE6;
  --underline-color: #3EE6C2;
  --background-color: #06222A;
  --subject-color: #E63E62;
  --predicate-color: #3EE6C2;
  --object-color: #C23EE6;
  --preposition-color: #62E63E;
  --background-color-dialog: #021C24;
}

/* Font sizes */
:root {
  --text-size: 1rem;
  --large-text-size: 25;
  --main-title-size: 35;
  --title-size: 2.5rem;
  --subtitle-size: 2rem;
  --subsubtitle-size: 1.5rem;
  --text-button-size: 1.2rem;
  --small-main-title-size: 26;
  --button-text-size-md: 20;
  --button-text-size-sm: 18;
  --line-height: 1.8rem;
}

/* spacing */
:root {
  --gap-lg: 2.5rem;
  --gap: 2rem;
  --gap-sm: 1rem;
  --gap-xs: 0.5rem;
}

/* styles */
:root {
  --border-radius: 0.4rem;
}

@font-face {
  font-family: "Dosis";
  src: url("@/../public/fonts/Dosis/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("@/../public/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
}
