@import './base.css';
@import './reset.css';

#app {
  margin: 2em;
}

h1 {
  display: inline-block;
  color: var(--title-color);
  background-color: var(--card-color);
}

main {
  font-family: Ubuntu, sans-serif;
  background-color: var(--card-color);
}